/* Archivo CSS */

/* Estilos para el botón */
.nav-button {
    padding: 12px 24px; /* Ajusta el padding según sea necesario para hacer los botones más grandes */
    color: #d50d0d; /* Color del texto rojo, coincide con el navbar */
    background-color: #FFFFFF; /* Fondo blanco inicial */
    border: 2px solid #FFFFFF; /* Borde blanco inicial */
    border-radius: 9999px; /* Bordes redondeados */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Cursor apuntador */
}

.nav-button:hover {
    background-color: #d50d0d; /* Color de fondo al pasar el ratón por encima, coincide con el navbar */
    border-color: #d50d0d; /* Color del borde al pasar el ratón por encima, coincide con el navbar */
    color: #FFFFFF; /* Color del texto blanco al pasar el ratón por encima */
}

/* Estilo para el logo */
.navbar-logo-img {
    width: 110px; /* Ancho del logo */
    height: auto; /* Altura automática para mantener la proporción */
}
